@import '../../main.scss';

.landing-main {
  text-align: center;
  // background: red;
  margin: 35px 0 0;

  h1 {
    font-size: 60px;
    color: #fff;
    text-shadow: 1px 1px 4px black;
  }

  h3 {
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    font-family: $primary-font-stack;
  }
}

.search-bar {
  padding: 20px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }

  button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
  }

  button:hover {
    background-color: darken($primary-color, 10%);
  }
  button:active {
    background-color: darken($primary-color, 15%);
  }
}



@media only screen and (min-width: 500px){

  .landing-main {
    text-align: center;

    h1 {
      font-size: 85px;
      color: #fff;
    }

    h3 {
      font-size: 28px;
      color: #fff;
      font-family: $primary-font-stack;
    }
  }

  .search-bar {
    max-width: 650px;
    border-radius: 3px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gray;


    input {
      width: 70%;
    }

    button {
      margin-top: 0;
      width: 25%;
    }
  }

}
