@import '../../main.scss';

.search-bar {
  padding: 20px;
  background: #fff;
  margin: 25vh auto;
  display: flex;
  justify-content: space-between;

  input {
    width: 70%;
    padding: 10px;
    font-size: 18px;
  }

  button {
    width: 25%;
    padding: 10px;
  }
}
