.LandingContainer{
  margin:0;padding:0;
  width:100vw;height:100vh;
  background-color: mistyrose;
}

.navBar{
  width:100vw;height: 100px;
  background-color: red;
  display: flex;
  justify-content: flex-end;
  .right{
  width:150px;height: inherit;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
    margin:0;padding:0;
    ul{
      margin: 0;padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li{
        cursor: pointer;
        

      }
    }
  }



}
