@import "../../main.scss";

.navigationContain {

  background-color: dimgray;
  color: white;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 5px;

  ul {
    background: red;

    li {
      list-style: none;
    }
  }
}
