@import "../main.scss";


.outer-component-box {
	background-color: $primary-red;
	padding: 0 10px 10px 10px;
	border-radius:0 0 5px 5px;
}

.component-box {
	display: flex;
	justify-content: space-around;
	
	background-color: white;
	padding: 20px;

}

.list-box {
	width: 30%;
	border: 2px solid $primary-tan;
	border-radius: 5px;
	background-color:lighten($primary-tan, 40%);
	padding: 10px;
}

.add-table-box {
	width: 50%;
	border: 2px solid $primary-tan;
	border-radius: 5px;
	background-color:lighten($primary-tan, 40%);
}

.table-account-item {
	margin: 5px 0;
	background-color: lighten($primary-blue, 40%);
	padding: 10px;
	font-size: 16px;
	align-items: center;
	// text-align: center;
	border-radius:5px;

	

}