
$primary-color: #449c57;
// $secondary-color: ;
$warning-color: #bc2031;

$primary-font-stack: 'Open Sans', 'arial', 'sans serif';


//blue to save #3e5882

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//X button global

.click-to-close {
  height: 35px;
  width: 35px;
  background: $warning-color;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.click-to-close:before {
  content: 'X';
}

.click-to-close:hover {
  background-color: darken($warning-color, 10%);
}
.click-to-close:active {
  background-color: darken($warning-color, 15%);
}

//
// .LandingContainer{
//   padding: 20px;
// }

.main-button {
  border: none;
  background: $primary-color;
  color: white;
}
