
//
$primary-red: #C55653;
$primary-blue: #3E5882;
$primary-green: #429B48;
$primary-tan: #C59B53;


$button-color: #449c57;
// $secondary-color: ;
$warning-color: #bc2031;

$primary-font-stack: 'Open Sans', 'arial', 'sans serif';
// $secondary-font-stack: ;

//blue to save #3e5882

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  list-style: none;
}

body {
  min-height: 100vh;
}

//X button global

.click-to-close {
  height: 35px;
  width: 35px;
  background: $warning-color;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.click-to-close:before {
  content: 'X';
}

.click-to-close:hover {
  background-color: darken($warning-color, 10%);
}

.click-to-close:active {
  background-color: darken($warning-color, 15%);
}

.main-button {
  border: none;
  background: $button-color;
  color: white;
}

.main-button:hover {
  background-color: darken($button-color, 10%);
}

.main-button:active {
  background-color: darken($button-color, 15%);
}


a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: black;
}