@import "../main.scss";

.dashboardMain {
  // background-color: $primary-blue;
  background: DimGray  url('./profile-back.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  .switchViewContainer {
    width: 95%;
    // height: 500px;
    background: pink;
    margin-bottom: 400px;
    border-radius: 5px;
  }

  .boxContainer {
    width: 90vw;
    border: 2px solid red;
  }


}
