@import "../main.scss";

.dashboardMain {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;

  .switchViewContainer {
    width: 95%;
    // height: 500px;
    background: pink;
    margin-bottom: 400px;
  }
}
