@import "../main.scss";

.dashboardMain {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;

  .ProfileBoxContain {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: yellow;
    // padding: 20px;

    .ProfileBox {
      width:95%;
      height:90%;
    }
  }
}
