.edit-container {
  width: 100%;
  border:1px solid black;
}
#edit-input-wrapper {
  margin:auto;
  width:80%;
  border: 1px solid black;
}

#picture-container {
  height:500px;
  width:500px;
  border:1px solid black;
  clear: both;
  margin: auto;

}
