@import "../../../main.scss";

  .upperDash {
    display: flex;
    width: 95vw;
    margin-top: 20px;
    background: $primary-red;
    padding: 10px 10px 0 10px;
    border-radius: 5px 5px 0 0;
    
    h2 {
      background-color:white;
      border-radius:5px;
      padding:5px 30px 5px 30px;
    }

    .containIt{
      display: flex;

      .miniBox{
        margin-right: 10px;
        margin-bottom: 0;
        line-height: 1.5em;
        padding: 15px 50px 10px;
        border-radius: 5px 5px 0px 0px;
        cursor: pointer;
        font-size: 25px;
      }


    }

    .dashTitle {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
