@import "../../../main.scss";

  .upperDash {
    display: flex;

    .containIt{
      display: flex;

      .miniBox{
        margin-right: 10px;
        margin-bottom: 0;
        line-height: 1.5em;
        padding: 15px 50px 0px;
        border-radius: 5px 5px 0px 0px;
        cursor: pointer;
        font-size: 25px;
      }
    }

    .dashTitle {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
