// =  =  =  =  =  =  = Edit Menu Category  =  =  =  =  =  =  =
#category-container-wrapper {
  text-align: center;
}

.dish-item-container {
  margin-top: 10px;
}


.button-container {
  width:100%;
  margin: auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 46px;

}

.form-control {
  margin-top: 36px;
  background:darken(gray,2%);
  color:lighten(gray,30%);
  height:49px;
}
  // =  =  =  =  =  =  =  Edit Menu Name  =  =  =  =  =  =  =  =
  .black {
    background:lighten(darkgray,15%)
  }
  .icon-pointer{
    cursor:pointer
  }
  // =  =  =  =  =  =  =  =  =  =  =  Media Queries  =  =  =  =  =  =  =  =  =  =  =
@media (max-width:1105px) {
  .button-container .btn-lg {
    width:165px;
    font-size: 16px;
  }
  .button-container .btn-md {
    width: 96px;
    font-size: 16px;
  }
}


@media (max-width:865px) {
  .button-container .btn-lg {
    width:135px;
    font-size: 16px;
  }
  .button-container .btn-md {
    width: 76px;
    font-size: 16px;
  }
}

@media (max-width:665px) {
  .button-container {
    display: flex;
    flex-direction: column;
  }
  .button-container .btn-lg {
    float: left;
    font-size: 16px;
  }
  .button-container .btn-md {
    float: left;
    font-size: 16px;
  }
}

.editName {
  width:100%;
}
