.contain{
  width: 100%;height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0e6251;
  border-radius: 2%;

  .content{

    display: flex;
    flex-direction: column;
    p{
      padding: 0;margin: 0;
    }
  }
}
