@import '../../main.scss';

.contain{
  width: 100vw;
  height: 100vh;
  margin-top: -100px;
  background: rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    padding: 30px 40px;
    background: white;

                            //X button imported from main.scss
    .login-exit {
      position: absolute;
      right: -10px;
      top: -10px;
    }

    h2 {
      text-align: center;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // background: blue;
      input {
        margin: 5px 0;
        padding: 5px;
        width: 100%
      }

      hr {
        // border: 1px solid black;
        width: 100%;
      }

    .sign-up {
      border: none;
      background-color: $button-color;
      padding: 3px;
      margin-top: 10px;
      color: #fff;
      width: 100%;
    }

    .sign-up:hover {
      background-color: darken($button-color, 10%);
    }
    .sign-up:active {
      background-color: darken($button-color, 15%);

    }


    // label {
    //   background: red;
    //   display: inline-block;
    //   // width: 48%;
    //   // float: left;
    //
      input[type=radio] {
        margin-right: 5px;
      }
    // }
  }
}
