@import '../../main.scss';

// .theContainer {
//   width: 95vw;
//   // height: 90%;
//   background: red;
//
//   .theView {
//     // width: 100%;
//     // height: 100%;
//     background-color: blue;
//     // overflow: scroll;
//
//   }
// }
